
@media screen and (min-width: 801px) {
.footer {
  background: #141d29;
  height: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
}

@media screen and (max-width: 800px) {
  .footer {
    background: #141d29;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    p {
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      max-width: 220px;
      line-height: 20px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

}