.content {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 24px;
  min-height: calc(100vh - 180px);
  .header {
    padding: 0 50px;
    max-width: 750px;
    margin: 0 auto;
    h1 {
      font-family: "pingFang SC";
      font-weight: 600;
      font-size: 32px;
      color: rgba(0, 0, 0, 0.85);
      letter-spacing: 0;
      line-height: 48px;
      padding-top: 15px;
      margin-bottom: 12px;
    }
  }
}
