/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(client)/blog/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.blog_content__dYuYJ {
  background-color: rgb(22, 22, 23);
  height: 100vh;
}
.blog_content__dYuYJ .blog_centerbox__JE038 {
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  padding-top: 24px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S {
  flex: 1 1;
  margin-right: 24px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw {
  list-style: none;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu {
  border: 1px solid rgba(82, 82, 89, 0.3215686275);
  margin-bottom: 24px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  background: none;
  --tw-bg-opacity: 1;
  background-color: rgb(32, 32, 34, var(--tw-bg-opacity));
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu::before {
  position: absolute;
  border-radius: 0.5rem;
  bottom: -1px;
  content: "";
  left: -1px;
  right: -1px;
  top: -1px;
  transition: background 1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  will-change: background;
  z-index: -2;
  background: radial-gradient(200px circle at var(--x) var(--y), #f87171 0, #5d67e8 50%, transparent 100%);
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu:last-of-type {
  margin-bottom: 0;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_customLink__3jdjz {
  text-decoration: none; /* 去掉下划线 */
  color: inherit; /* 继承父元素的颜色 */
  display: inline-block; /* 或其他你需要的样式 */
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_customLink__3jdjz:hover {
  opacity: 0.8;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_blogtitle__3UJq3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_bloginfo__zyTIb {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_bloginfo__zyTIb span {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_bloglist__leM6S .blog_blogcontent__hXuCw .blog_blogitem__cFqyu .blog_bloginfo__zyTIb span img {
  width: 15px;
  margin-right: 5px;
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_authorbox__piKJV {
  width: 300px;
  border: 1px solid rgba(82, 82, 89, 0.3215686275);
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(32, 32, 34, var(--tw-bg-opacity));
}
.blog_content__dYuYJ .blog_centerbox__JE038 .blog_authorbox__piKJV img {
  width: 100px;
  height: auto;
}
