/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(client)/blog/[id]/components/BlogContent/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BlogContent_content___S3qz {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 24px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(client)/blog/[id]/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
._id__content__P5upN {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 24px;
  min-height: calc(100vh - 180px);
}
._id__content__P5upN ._id__header__2DDaL {
  padding: 0 50px;
  max-width: 750px;
  margin: 0 auto;
}
._id__content__P5upN ._id__header__2DDaL h1 {
  font-family: "pingFang SC";
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  line-height: 48px;
  padding-top: 15px;
  margin-bottom: 12px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/(client)/blog/[id]/components/TopInfo/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media screen and (min-width: 801px) {
  .TopInfo_topInfo__rNlu9 {
    display: flex;
    max-width: 100%;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 {
    display: flex;
    align-items: center;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_abc__SBVGE {
    width: 15px;
    opacity: 0.65;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_tuboxu__CJSes {
    padding: 0 26px 0 8px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
    font-size: 14px;
    font-family: "pingFang SC";
    line-height: 22px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_tuboxu__CJSes:hover {
    color: #217eff !important;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_tuboxu__CJSes:not(last-child) {
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .TopInfo_topInfo__rNlu9 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6px;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 {
    display: flex;
    align-items: center;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_abc__SBVGE {
    width: 15px;
    position: relative;
    top: -1px;
    opacity: 0.65;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_tuboxu__CJSes {
    padding: 0 16px 0 4px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
    font-size: 14px;
    font-family: "pingFang SC";
    line-height: 22px;
  }
  .TopInfo_topInfo__rNlu9 .TopInfo_eachItem__9o304 .TopInfo_tuboxu__CJSes:not(last-child) {
    padding-right: 0;
  }
}
